<div class="container sound-form-container col-default-12 col-sm-10 col-md-6 col-lg-6 col-xl-5 col-xxl-5" data-controller="sounds-new">
  <%= form_with model: sound do |f| %>
    <%= f.label :title, class: "form-label mt-3" %>
    <%= f.text_field :title, class: "form-control border-dark mb-3", placeholder: "Name your sound", style: "background-color: white;" %>
    <div class="location-input" data-controller="location">

      <%= f.label :location, class: "form-label" %>

      <div class="form-check">
        <input data-action="change->location#hideLocInput" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Use My Location
        </label>
      </div>

      <div class="d-none">
        <%= f.text_field :latitude, data: { target: "location.lat"} %>
        <%= f.text_field :longitude, data: { target: "location.long"} %>
      </div>

      <div class="form-check">
        <input data-action="change->location#showLocInput" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Enter A Location Manually
        </label>
      </div>

      <%= f.text_field :location, class: "form-control border-dark mt-2", data: { target: "location.input"}, placeholder: "Enter an address...", style: "background-color: white;" %>
    </div>
    <%= f.label :audio, class: "form-label mt-3" %>
    <div class="audio_upload input-group">
      <div class="btn btn-dark rounded-5 me-1" id='audio-record-button'>
        <i class="fa-solid fa-microphone"></i>
      </div>
      <%= f.file_field :audio, direct_upload: true, class: "form-control border-dark", style: "background-color: white;" %>
    </div>
    <%= f.submit class: "btn btn-outline-dark my-4" %>
  <% end %>
</div>
