<h1><%= @playlist.title %></h1>

<ul>
  <% @playlist_sounds.each do |playlist_sound| %>
    <li>
      <% sound = playlist_sound.sound %>
      <%= sound.title %>
      <% if sound.audio.audio? %>
        <%= audio_tag url_for(sound.audio), class:"audio", controls: true %>
      <% end %>
      <% if current_user == sound.user %>
        <%= link_to "remove", playlist_sound_path(playlist_sound), data: { "turbo-method": :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "delete playlist", playlist_path(@playlist), data: { "turbo-method": :delete } %>
