<div class="container">
  <h1><%= @playlist.title %></h1>

  <div class="playlist-controls">
    <button id="autoplay">Play All</button>
  </div>

  <ul class='playlist-list'>
    <% @playlist_sounds.each do |playlist_sound| %>
      <% sound = playlist_sound.sound %>
      <li class='playlist-item'>
        <p><%= link_to sound.title, sound_path(sound) %></p>
        <% if sound.audio.audio? %>
        <div class="audio-tag" data-playlist-target="audiotag">
          <%= audio_tag url_for(sound.audio),
                    class:"audio",
                    id:"audio-player",
                    controls: true %>
        </div>
        <% end %>
        <% if current_user == sound.user %>
          <%= link_to "remove", playlist_sound_path(playlist_sound), data: { "turbo-method": :delete } %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <script>
    function playlistControls() {
      const sounds = document.querySelectorAll('audio');
      function autoPlay() {
        sounds.forEach((sound, i)=> {
          sound.onended = function () {
            if (sounds[i+1]) {
              sounds[i+1].play();
            }
          }
        });
      };

      const autoplayButton = document.getElementById("autoplay");
      autoplayButton.addEventListener('click', function () {
        autoPlay()
        if (sounds[0]) { sounds[0].play(); }
      });
    }
    playlistControls();
  </script>

  <%= link_to "delete playlist", playlist_path(@playlist), data: { "turbo-method": :delete } %>
</div>
