<div class="container">
  <h1><%= @playlist.title %></h1>

  <div class="playlist-controls">
    <div class="btn btn-primary" id="autoplay">Play All</div>
    <div class="btn btn-success" id="repeat">Repeat</div>
    <div class="btn btn-success" id="shuffle">Shuffle and Repeat</div>
  </div>

  <ul class='playlist-list'>
    <% @playlist_sounds.each do |playlist_sound| %>
      <% sound = playlist_sound.sound %>
      <li class='playlist-item'>
        <p><%= link_to sound.title, sound_path(sound) %></p>
        <% if sound.audio.audio? %>
        <div class="audio-tag" data-playlist-target="audiotag">
          <%= audio_tag url_for(sound.audio),
                    class:"audio",
                    id:"audio-player",
                    controls: true %>
        </div>
        <% end %>
        <% if current_user == sound.user %>
          <%= link_to "remove", playlist_sound_path(playlist_sound), data: { "turbo-method": :delete } %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <script>
    function playlistControls() {
      let repeat = false;
      let shuffle = false;

      const repeatToggle = document.getElementById("repeat")
      repeatToggle.addEventListener('click', () => {
        repeat = !repeat
        repeatToggle.classList.toggle("active")
      });

      const shuffleToggle = document.getElementById("shuffle")
      shuffleToggle.addEventListener('click', () => {
        shuffle = !shuffle
        shuffleToggle.classList.toggle("active")
      });

      const sounds = document.querySelectorAll('audio');
      function autoPlay() {
        sounds.forEach((sound, i) => {
          sound.onended = function () {
            if (!shuffle) {
              if (sounds[i+1]) {
                sounds[i+1].play();
              } else if (repeat) {
                sounds[0].play();
              }
            } else {
              let index = Math.floor(Math.random() * sounds.length);
              // ensures no track plays twice in a row
              if (sounds.length > 1) {
                while (i === index) {
                  index = Math.floor(Math.random() * sounds.length);
                }
              }
              sounds[index].play();
            }
          }
        });
      };

      const autoplayButton = document.getElementById("autoplay");
      autoplayButton.addEventListener('click', () => {
        autoPlay()
        if (sounds[0]) {
          sounds[0].play();
        }
      });
    }
    playlistControls();
  </script>

  <%= link_to "delete playlist", playlist_path(@playlist), data: { "turbo-method": :delete } %>
</div>
